.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-container {
    width: 90%;

    display: flex;
    justify-content: space-between;
}

.grid-container {
    display: flex;
    width: auto;
    height: auto;

}

.square-column {
    display: flex;
    flex-direction: column;
}

.square {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    display: block;

    background-color: #575b5a;
}

.square-open {
    border: 1px solid black;

    width: 40px;
    height: 40px;
    display: block;
}


